.chips-group {
	font-size: 16px;
	line-height: 16px;
}

.chips-group__btn {
	margin: 20px 10px;
	padding: 6px 20px;
	display: inline-flex;
	align-items: center;

	border-radius: 20px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.chips-group__btn.light {
	background: #ffffff;
	fill: black;
}

.chips-group__btn.dark {
	background: #a0627b;
	fill: #ffffff;
}

.chips-group__btn.dark:hover {
	background: #a85a79;
	box-shadow: 2px 1px 4px rgba(99, 93, 96, 0.3);
}

.chips-group__icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.chips-group__name {
	margin: 20px 10px;
	padding: 6px 20px;
	display: inline-flex;
	align-items: center;

	position: relative;

	border-radius: 20px;
	border: 1px solid rgb(236, 166, 178);
}

.chips-group__name > .closeBtn {
	position: absolute;
	right: -10px;
	bottom: 10px;
}
